:root{
	background-color: rgb(150,100,25);
}

.menu-container{
	background-color: rgb(122, 120, 196);
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	flex-direction: row;
}

.left-button-container{
	background-color: rgb(100, 100, 100);
	flex-grow: 1;
}

.right-menu-container
{
	background-color: rgb(100, 100, 100);
	flex-grow: 2;
}

